/*
color
*/
$iu-background-glay: #fafafa;
$iu-background-orange: #e65622;
$iu-background-black: #595959;
$iu-text-gary: #6f6f6f;
$iu-border-gary: #ddd;
$iu-orange-dark: #bd481a;
$iu-white: #fff;
$iu-black: #595959;
$iu-orange: #e65622;
$iu-ipt-bg: #f2f2f2;
$iu-gap: 20px;
$iu-ipt-height: 60px;
$iu-width: 1200px;
$iu-gap: 20px;
$iu-font: 20px;


/*
背景
*/
@mixin iu-bg {
    background-image: url(/images/bg-orange.jpg);
    background-position: center;
    background-repeat: repeat;
    background-color: $iu-background-orange;
}

@mixin iu-bg-white {
    background-image: url(/images/bg-white.jpg);
    background-position: center;
    background-repeat: repeat;
    background-color: $iu-white;
}

@mixin iu-page-width {
    max-width: $iu-width;
}



@mixin iu-shadow {
    -moz-box-shadow:0px 0px 20px #ccc;
    -webkit-box-shadow:0px 0px 20px #ccc; 
    box-shadow:0px 0px 20px #ccc;
}



/*
全局
*/
.login-logo{
    display: block;
    text-indent: -100%;
    overflow: hidden;
    height: 0;
}

.home,.page{
    min-height: 100%;
    position: relative;
    font-size: 16px;
}
.home{
    @include iu-bg;
}
.page{
    @include iu-bg-white;
}
.iu-nav{
    background: rgba(0, 0, 0, 0.2);
    .van-nav-bar{
        background: none;
        @include iu-page-width;
        height: 65px;
        line-height: 65px;
        margin: 0 auto;
        border: 0;
        color: $iu-white;
        font-weight: bold;
    }
    .van-hairline--bottom::after{border: 0}
}

.page{
    .iu-nav{background: #f25d28;}
    .iu-page-main{
        @include iu-page-width;
        margin: $iu-gap auto;
        display: flex;
        justify-content: space-between;
    }
}




