/*
color
*/
$iu-background-glay: #fafafa;
$iu-background-orange: #e65622;
$iu-text-gary: #B0B2BA;
$iu-oringe-dark: #bd481a;
$iu-white: #fff;
$iu-oringe: #e65622;
$iu-text-normal: #999999;
$iu-text-point: #545454;

/*
背景
*/
@mixin iu-bg {
    background-image: url(/images/bg-orange.jpg);
    background-position: center;
    background-repeat: repeat;
    background-color: $iu-background-orange;
}

@mixin iu-shadow {
    -moz-box-shadow:0px 0px 20px #ccc;
    -webkit-box-shadow:0px 0px 20px #ccc; 
    box-shadow:0px 0px 20px #ccc;
}

/*
重置
*/
.login-logo{
    display: block;
    text-indent: -100%;
    overflow: hidden;
    height: 0;
}

.em-button {
    color: white;
    background-color: $iu-oringe;
}

.iu-price {
    font-size: 16px;
    color: $iu-oringe;
    display: inline;
    .small {
        font-size: 12px;
    }
}
.van-nav-bar--fixed{
    border-bottom: 3px solid $iu-oringe
}

.nav-bottom{
    padding-top: 50px;
}

.van-nav-bar .van-icon {
    color: #333333;
}

.van-icon .van-icon-arrow-left .van-nav-bar__arrow {
    color: #B0B2BA;
}
//登录页面

.login-page{
    .login-bar {
        background-color: $iu-oringe;
        border-bottom: none;
        .van-nav-bar__title {
            color: white;
        }
        .van-nav-bar__arrow {
            color: white;
        }
       
    }
}

.dialog-box {
    padding: 30px 20px;
    // display: flex;
    p {
        text-align: center;
        margin-bottom: 30px;
        font-size: 15px;
    }
    button {
        margin-bottom: 20px;
    }
    background-color: #eeeeeef3
}