/*
全局
*/
@font-face {
    font-family: 'iu-iconfont';  /* project id 1623694 */
    src: url('//at.alicdn.com/t/font_1623694_ud6rplgxu4.eot');
    src: url('//at.alicdn.com/t/font_1623694_ud6rplgxu4.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1623694_ud6rplgxu4.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1623694_ud6rplgxu4.woff') format('woff'),
    url('//at.alicdn.com/t/font_1623694_ud6rplgxu4.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1623694_ud6rplgxu4.svg#iu-iconfont') format('svg');
  }
.iu-iconfont,.van-grid-item__icon,.van-sidebar-item,.iu-icon{
    font-family: "iu-iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.van-icon-sbusi:before{
    content: "\e601";
}
.van-icon-mbusi:before{
    content: "\e607";
}
.van-icon-mchef:before{
    content: "\e60b";
}
.van-icon-mshop:before{
    content: "\e60d";
}
.van-icon-mfin:before{
    content: "\e60a";
}
.van-icon-macco:before{
    content: "\e60c";
}
.van-icon-stopen:before{
    content: "\e602";
}
.van-icon-stclose:before{
    content: "\e603";
}
.iu-icon-open:before{
    content: "\e602";
}
.iu-icon-time:before{
    content: "\e605";
}
.iu-icon-place:before {
    content: "\e607";
}
.iu-icon-issue:before {
    content: "\e60d";
}
.iu-icon-change:before {
    content: "\e60e";
}
.iu-icon-bill:before {
    content: "\e60f";
}
.iu-icon-call:before {
    content: "\e610";
}
.iu-icon-transfer:before{
  content: '\e611';
}
.iu-icon-number:before{
  content: '\e608';
}
.iu-icon-food:before {
    content: "\e609";
}
.iu-icon-sort:before{
  content: '\e606';
}
.iu-icon-stock:before{
  content: '\e612';
}

/*
頂欄icon
*/
.van-hairline--top::after{border: 0}
.van-cell:not(:last-child)::after{border: 0;}

/*
內頁主要元素
*/
.van-button{
    border-radius: 100px;
    min-width: 120px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    border-width: 2px;
    font-size: 18px;
    font-weight: bold;
}
.van-button--transfer{
    background-color: $iu-white;
    border-color: $iu-border-gary;
    color: $iu-text-black;
    .van-button__icon{
        color: $iu-orange;
    }
}
.van-button--edit,.van-button--delete{
    width: 107px;
    height: 107px;
    color: $iu-white;
    border: 0;
    border-radius: 10px;
}
.van-button--edit{
    background-color: $iu-orange;
}
.van-button--delete{
    background-color: $iu-background-black;
}
.van-button--clear{
    color: $iu-orange;
    border-color: $iu-orange;
}
.van-button--plain.van-button--primary{
    min-width: 80px;
    background: rgba(255, 255, 255, .2);
    color: $iu-white;
    border-radius: 20px;
    border: 2px solid $iu-white;
    margin-left: 10px;
    height: 35px;
    line-height: 35px;
}
.tent-main,.recharge{
    .van-field__control{
        background-color: $iu-ipt-bg;
        border-radius: $iu-gap/2;
        height: 55px;
        line-height: 55px;
        padding-left: 20px;
        font-size: $iu-font;
    }
    .van-button--primary{
        background-color: $iu-orange;
        border: 0;
        height: $iu-ipt-height;
        line-height: $iu-ipt-height;
        min-width: 250px;
        border-radius: $iu-ipt-height;
        font-size: $iu-font;
        margin-top: $iu-gap;
    }
}

/*
内页搜索重置
*/
.iu-search{
    .van-field__left-icon .van-icon{
        font-size: 30px;
    }
    .van-cell__value--alone{
        font-size: 18px;
        margin-left: 10px;
    }
}

/*
內頁步進器重置
*/
.van-stepper{
    .van-stepper__minus, .van-stepper__plus{
        height: 25px;
        line-height: 25px;
        width: 25px;
      border-radius: 30px;
      border:1px solid $iu-border-gary;
      background-color: #fff;
    }
    .van-stepper__plus{
        color: $iu-orange;
    }
    .van-stepper__minus::before, .van-stepper__plus::before{
        height:3px;
        border-radius: 3px;
    }
    .van-stepper__minus::after, .van-stepper__plus::after{
        width: 3px;
        border-radius: 3px;
    }
}


/*
頂欄導航
*/
.van-nav-bar{
    font-size: 20px;
}



/*
左側菜單
*/
.iu-sidebar{
    background: $iu-white;
    border-radius: $iu-gap/2;
    width: 150px;
    overflow: hidden;
    .iu-siderbar-title{
        background-color: $iu-background-black;
        color: $iu-white;
        height: $iu-gap * 2.5;
        line-height: $iu-gap * 2.5;
        font-weight: bold;
        margin:0;
        font-size: 20px;
    }
    .van-sidebar{
        width: auto;
        padding: 0 15px;
        .van-sidebar-item{
            border: 0;
            text-align: center;
            display: block;
            width: 100%;
            border-bottom: 1px solid #e6e6e6;
            color: $iu-black;
            background: none;
            .van-sidebar-item__text{
                margin-top: 10px;
                font-weight: bold;
            }
        }
        .van-sidebar-item:before{
            font-size: 50px;
            display: block;
            width: 100px;
            height: 100px;
            line-height: 100px;
            border-radius: 100px;
            background-color: #f2f2f2;
        }
        .van-sidebar-item--select{
            color: $iu-orange;
        }
        .van-sidebar-item:last-child{
            border: 0;
        }
    }

}

/*
分頁
*/
.van-pagination{
    width: 300px;
    margin: 40px auto 0;
    font-size: 18px;
    .van-pagination__item{
        background: #7d7d7d;
        color: #fff;
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        border-radius: 50px;
        overflow: hidden;
        text-indent: -1000%;
        display: block;
    }
    .van-pagination__page-desc{
        height: 50px;
        line-height:50px;
        font-size:23px;
        min-width: 150px;
    }
    .van-pagination__prev::before,.van-pagination__next::before{
        font-family:"vant-icon";
        display: block;
        text-indent: 0;
        font-size: 30px;
    }
    .van-pagination__prev::before{
        content: "\F008";
    }
    .van-pagination__next::before{
        content: "\F00A";
    }
    .van-pagination--simple .van-pagination__prev::after, .van-pagination--simple .van-pagination__next::after{
        border: 0;
    }
}

/*
主頁搜索&菜單
*/
.order-main{
    width: 100%;
    .order-tent{
        width: 100%;
        margin-top: $iu-gap;
    }
}

/*
食物添加和編輯
*/
.food-add{
    .van-cell__title, .van-cell__value{
        font-size: 18px;
        height: 50px;
        line-height: 50px;
    }
    .van-cell__value{
        background: #f2f2f2;
        border-radius: 10px;
        padding-left: 20px;
    }
    .bottom{
        .van-uploader__upload{
          width: 120px;
          height: 120px;
        }
        .van-cell__value{
            height: auto;
        }
        .van-cell{
            padding-top: 0;
        }
    }
}

/*
*表格
*/
.form-main{
    width: 100%;
    margin-top: 15px;
    table{
      width: 100%;
      thead{
        background: $iu-background-black;
        color: #fff;
        height: 55px;
        line-height: 55px;
        margin-bottom: 10px;
      }
      tbody{
        tr{
          background: #fff;
          border-bottom: 1px dotted $iu-border-gary;
          height: 55px;
          line-height: 55px;
          text-align: center;
        }
      }
    }
  }



@media screen and (min-width: 760px){

    /*
    *对话框
    */
    .van-dialog__header{
        color: #fff;
        font-size: 24px;
        padding-bottom: 15px;
    }
    .van-dialog__content{
        min-height: 200px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .van-dialog__footer{
        background-color: #ccc;
        padding: 20px;
        .van-button{
            margin: 0 40px;
        }
        .van-hairline--left::after{
            border: 0;
        }
        .van-dialog__confirm{
            background: $iu-orange;
            color: #fff;
        }
    }

    /*
    下拉
    */
    .van-dropdown-menu{
        border-radius: 10px;
        font-weight: bold;
        .van-dropdown-menu__title{
            font-size: 18px;
        }
    }
    .van-dropdown-item{
        position: absolute;
        width: 100%;
        min-height: 300px;
        .van-dropdown-item__option{
            font-size: 16px;
        }
        .van-overlay{display: none;}
    }
    .header-left{
        .van-dropdown-menu{
            background: none;
        }
        .van-dropdown-menu__item{
            border:1px solid $iu-border-gary;
            margin-right: 10px;
            background: $iu-white;
            border-radius: 10px;
            min-width: 130px;
            margin-left: 10px;
        }
        .van-dropdown-item{
          top: 50px!important;
        }
    }
    .sort-top{
        .van-dropdown-menu{
            background: none;
        }
        .van-dropdown-menu__item{
            height: 40px;
            line-height: 40px;
            border:1px solid $iu-border-gary;
            margin-right: 10px;
            background: $iu-background-black;
            border-radius: 10px;
            min-width: 200px;
            margin-left: 10px;
        }
        .van-dropdown-menu__title{
            color:$iu-white;
        }
        .van-dropdown-item{
          top: 50px!important;
        }
    }

    /*
    頂欄
    */
    .iu-nav{
        .van-nav-bar{
            background: none;
            @include iu-page-width;
            height: 65px;
            line-height: 65px;
            margin: 0 auto;
            border: 0;
            color: $iu-white;
            font-weight: bold;
        }
        .van-nav-bar .van-icon{color: $iu-white; font-size: 35px;}
        .van-nav-bar__title{color: $iu-white; font-size: 24px;}
        .van-hairline--bottom::after{border: 0}
    }

    /*
    登入
    */
    .login-main{
        .van-field__left-icon{
            background: $iu-orange;
            margin-left: -15px;
            margin-top: -9px;
            width: 70px;
            height: 70px;
            .van-icon {
                margin-top: 15px;
                font-size: 35px;
                color: $iu-white;
                text-align: center;
            }
        }
        .van-field__control{ 
            color: $iu-white;
            font-size: 20px;
            margin-top: 9px;
            margin-left: 10px;
            background: none;
        }
        .van-button--primary{
            background: url(/images/bg-btn.jpg);
            color: $iu-orange;
            height: 70px;
            line-height: 70px;
            font-size: 30px;
            font-weight: bold;
            border: 0;
            width: 535px;
            border-radius: 10px;
            letter-spacing: 5px;
        }

    }

    /*
    主頁菜單
    */
    .home-menu{
        .van-grid-item{
            height: 230px;
            width: 230px;
            margin: 70px 0;
        }
        .van-grid-item__content{
            padding: 0;
            margin: 10px 50px;
            border-radius: 100%;
            overflow: hidden;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
        }
        .van-grid-item__text{
            background: #ffebdc;
            display: block;
            width: 100%;
            height: 90px;
            padding-top: 10px;
            font-size: 20px;
            font-weight: bold;
            color: $iu-orange;
            margin: 0;
            letter-spacing: 2px;
        }
        .van-icon{
            width: 100px;
            height: 140px;
            text-align: center;
            line-height: 140px;
            font-size: 80px;
            color: $iu-orange;
        }
    }

    /*
    营业开门打烊设置
    */
    .status-title b{color: $iu-orange;}
    .operate-set{
        padding-top: $iu-gap;
        .van-grid-item__content{
            background: $iu-orange;
            width: 200px;
            height: 200px;
            border-radius: $iu-gap;
            color: $iu-white;
            margin: 0 auto;
            .van-grid-item__icon{
                font-size: 80px;
            }
            .van-grid-item__text{
                color: $iu-white;
                font-size: 20px;
                font-weight: bold;
                margin-top: $iu-gap;
            }
        }
    }

    /*
    右側內容
    */
    .iu-tent-main{
        flex:1;
        margin-left: $iu-gap;
        background: $iu-white;
        border-radius: $iu-gap/2;
        .tent-main{
            text-align: center;
            max-width: $iu-width/2;
            margin: 0 auto;
            padding: $iu-gap;
            .van-field__label{
                min-width: 150px;
                text-align: right;
                padding-right: $iu-gap;
                height: $iu-ipt-height;
                line-height: $iu-ipt-height;
                font-size: $iu-gap;
                width: auto;
            }
        }
    }

}

