/*
全局
*/
@font-face {
    font-family: 'iu-iconfont';  /* project id 1623694 */
    src: url('//at.alicdn.com/t/font_1623694_izkk62qz9xn.eot');
    src: url('//at.alicdn.com/t/font_1623694_izkk62qz9xn.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1623694_izkk62qz9xn.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1623694_izkk62qz9xn.woff') format('woff'),
    url('//at.alicdn.com/t/font_1623694_izkk62qz9xn.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1623694_izkk62qz9xn.svg#iu-iconfont') format('svg');
  }
.iu-iconfont,.van-grid-item__icon,.van-sidebar-item,.iu-icon{
    font-family: "iu-iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.van-icon-sbusi:before{
    content: "\e601";
}
.van-icon-mbusi:before{
    content: "\e607";
}
.van-icon-mchef:before{
    content: "\e60b";
}
.van-icon-mshop:before{
    content: "\e60d";
}
.van-icon-mfin:before{
    content: "\e60a";
}
.van-icon-macco:before{
    content: "\e60c";
}
.van-icon-stopen:before{
    content: "\e602";
}
.van-icon-stclose:before{
    content: "\e603";
}
.iu-icon-open:before{
    content: "\e602";
}
.iu-icon-time:before{
    content: "\e605";
}
.iu-icon-place:before {
    content: "\e607";
}
.iu-icon-issue:before {
    content: "\e60d";
}
.iu-icon-change:before {
    content: "\e60e";
}
.iu-icon-bill:before {
    content: "\e60f";
}
.iu-icon-call:before {
    content: "\e610";
}
.iu-icon-transfer:before{
  content: '\e611';
}


.van-nav-bar .van-icon{color: $iu-white; font-size: 35px;}
.van-nav-bar__title{color: $iu-white; font-size: 24px;}
.van-hairline--top::after{border: 0}
.van-cell:not(:last-child)::after{border: 0;}

/*
內頁主要元素
*/
.van-button{
    border-radius: 100px;
    min-width: 120px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    border-width: 2px;
    font-size: 18px;
    font-weight: bold;
}
.van-button--primary{
    background-color: $iu-orange;
    border-color: $iu-orange;     
}
.van-button--transfer{
    background-color: $iu-white;
    border-color: $iu-border-gary;     
}

.van-button--plain.van-button--primary{
    min-width: 80px;
    background: rgba(255, 255, 255, .2);
    color: $iu-white;
    border-radius: 20px;
    border: 2px solid $iu-white;
    margin-left: 10px;
    height: 35px;
    line-height: 35px;
}
.tent-main{
    .van-field__control{
        background-color: $iu-ipt-bg;
        border-radius: $iu-gap/2;
        height: 55px;
        line-height: 55px;
        padding-left: 20px;
        font-size: $iu-font;
    }
    .van-button--primary{
        background-color: $iu-orange;
        border: 0;
        height: $iu-ipt-height;
        line-height: $iu-ipt-height;
        min-width: 250px;
        border-radius: $iu-ipt-height;
        font-size: $iu-font;
        margin-top: $iu-gap;
    }
}

/*
内页搜索重置
*/
.iu-search{
    .van-field__left-icon .van-icon{
        font-size: 30px;
    }
    .van-cell__value--alone{
        font-size: 18px;
        margin-left: 10px;
    }
}
/*
下拉
*/
.van-dropdown-item{
    position: absolute;
    width: 100%;
    height: 170px;
    .van-overlay{display: none;}
    .van-dropdown-item__content{
        height: 170px;
    }
}

/*
登入
*/
.login-main{
    .van-field__left-icon{
        background: $iu-orange;
        margin-left: -15px;
        margin-top: -9px;
        width: 70px;
        height: 70px;
        .van-icon {
            margin-top: 15px;
            font-size: 35px;
            color: $iu-white;
            text-align: center;
        }
    }
    .van-field__control{ 
        color: $iu-white;
        font-size: 20px;
        margin-top: 9px;
        margin-left: 10px;
        background: none;
    }
    .van-button--primary{
        background: url(/images/bg-btn.jpg);
        color: $iu-orange;
        height: 70px;
        line-height: 70px;
        font-size: 30px;
        font-weight: bold;
        border: 0;
        width: 535px;
        border-radius: 10px;
        letter-spacing: 5px;
    }

}

/*
頂欄導航
*/
.van-nav-bar{
    font-size: 20px;
}

/*
首頁菜單
*/
.home-menu{   
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .van-grid-item{
        height: 230px;
        width: 230px;
        margin: 70px 0;
    }
    .van-grid-item__content{
        padding: 0;
        margin: 10px 50px;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
    }
    .van-grid-item__text{
        background: #ffebdc;
        display: block;
        width: 100%;
        height: 90px;
        padding-top: 10px;
        font-size: 20px;
        font-weight: bold;
        color: $iu-orange;
        margin: 0;
        letter-spacing: 2px;
    }
    .van-icon{
        width: 100px;
        height: 140px;
        text-align: center;
        line-height: 140px;
        font-size: 80px;
        color: $iu-orange;
    }
}

/*
左側菜單
*/
.iu-sidebar{
    background: $iu-white;
    border-radius: $iu-gap/2;
    width: 150px;
    overflow: hidden;
    .iu-siderbar-title{
        background-color: $iu-background-black;
        color: $iu-white;
        height: $iu-gap * 2.5;
        line-height: $iu-gap * 2.5;
        font-weight: bold;
        margin:0;
        font-size: 20px;
    }
    .van-sidebar{
        width: auto;
        padding: 0 15px;
        .van-sidebar-item{
            border: 0;
            text-align: center;
            display: block;
            width: 100%;
            border-bottom: 1px solid #e6e6e6;
            color: $iu-black;
            background: none;
            .van-sidebar-item__text{
                margin-top: 10px;
                font-weight: bold;
            }
        }
        .van-sidebar-item:before{
            font-size: 50px;
            display: block;
            width: 100px;
            height: 100px;
            line-height: 100px;
            border-radius: 100px;
            background-color: #f2f2f2;
        }
        .van-sidebar-item--select{
            color: $iu-orange;
        }
        .van-sidebar-item:last-child{
            border: 0;
        }
    }

}

/*
右側內容
*/
.iu-tent-main{
    flex:1;
    margin-left: $iu-gap;
    background: $iu-white;
    border-radius: $iu-gap/2;
    .tent-main{
        max-width: $iu-width/2;
        margin: 0 auto;
        padding: $iu-gap;
        .van-field__label{
            min-width: 150px;
            text-align: right;
            padding-right: $iu-gap;
            height: $iu-ipt-height;
            line-height: $iu-ipt-height;
            font-size: $iu-gap;
            width: auto;
        }
    }
}

/*
分頁
*/
.van-pagination__item{
    background: #7d7d7d;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    border-radius: 50px;
}
.van-pagination__page-desc{
    height: 50px;
    line-height:50px;
    font-size:23px;
}
/*
营业开门打烊设置
*/
.status-title b{color: $iu-orange;}
.operate-set{
    padding-top: $iu-gap;
    .van-grid-item__content{
        background: $iu-orange;
        width: 200px;
        height: 200px;
        border-radius: $iu-gap;
        color: $iu-white;
        margin: 0 auto;
        .van-grid-item__icon{
            font-size: 80px;
        }
        .van-grid-item__text{
            color: $iu-white;
            font-size: 20px;
            font-weight: bold;
            margin-top: $iu-gap;
        }
    }
}


/*
主頁搜索&菜單
*/
.order-main{
    width: 100%;
    .order-tent{
        width: 100%;
        margin-top: $iu-gap;
    }
}



