@orange: #e65622;
@black: #454444;
@gray-8: #3c3c3c;

// DropdownMenu
@dropdown-menu-title-active-text-color: @orange;
@dropdown-menu-option-active-color: @orange;

// Button
@button-primary-background-color: @orange;
@button-primary-border-color: @orange;
@button-info-background-color: @black;
@button-info-border-color: @black;

// NavBar
@nav-bar-icon-color: @white;

// Checkbox
@checkbox-size: 23px;
@checkbox-checked-icon-color: @orange;

// Pagination
@pagination-height: 40px;
@pagination-font-size: @font-size-md;
@pagination-item-width: 36px;
@pagination-item-default-color: @orange;

// Radio
@radio-checked-icon-color: @orange;

// Dialog
@dialog-width: 500px;
@dialog-small-screen-width: 90%;
@dialog-font-size: @font-size-lg;
@dialog-transition: @animation-duration-base;
@dialog-border-radius: 16px;
@dialog-background-color: @orange;
@dialog-header-font-weight: @font-weight-bold;
@dialog-header-line-height: 24px;
@dialog-header-padding-top: @padding-lg;
@dialog-header-isolated-padding: @padding-lg 0;
@dialog-message-padding: @padding-lg;
@dialog-message-font-size: @font-size-md;
@dialog-message-line-height: 20px;
@dialog-message-max-height: 60vh;
@dialog-has-title-message-text-color: @gray-7;
@dialog-has-title-message-padding-top: @padding-sm;
@dialog-confirm-button-text-color: @blue;

