@orange: #e65622;
@black: #454444;
@gray-8: #3c3c3c;

// DropdownMenu
@dropdown-menu-title-active-text-color: @orange;
@dropdown-menu-option-active-color: @orange;

// Button
@button-primary-background-color: @orange;
@button-primary-border-color: @orange;
@button-info-background-color: @black;
@button-info-border-color: @black;

// NavBar
@nav-bar-icon-color: @white;

// Checkbox
@checkbox-size: 23px;
@checkbox-checked-icon-color: @orange;

// Pagination
@pagination-height: 40px;
@pagination-font-size: @font-size-md;
@pagination-item-width: 36px;
@pagination-item-default-color: @orange;